* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #26333D;

}

.layout-grid {
    width: 100%;
    max-width: 992px;
    /* border: 3px solid white; */
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100%;
    /* border: 3px solid white; */

}

nav a:hover {
    color: #2FD6CB;
    text-decoration: none;

}

header nav a {
    display: flex;
    color: white;
    text-decoration: none;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 100px);
    background-image: url("../imagens/login-bk-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 60%;
    height: 500px;
    border-radius: 10px;
    padding: 10px;

    /* border: 2px solid purple; */
}


.container button {
    width: 100%;
    height: 35px;
    background-color: #26333D;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    cursor: pointer;

}

button:hover{
    background-color: powderblue;
    color: black;
}

.container h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: black;
    font-size: 40px;
}

.assunto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.assunto a {
    width: 100%;
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: row-reverse;
}

.assunto input {
    display: flex;
    height: 35px;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;

}

form label {
    width: 100%;
}